body {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    height: 100vh;
    background-color: #1F2937;
    color: #E0E7FF;
    text-align: center;
}

p {
    padding: 2rem;
    text-align: left;
    font-size: large;
}

#loading {
    margin: 2rem auto;
    display: none;
}